.ant-menu-light.ant-menu-root.ant-menu-inline {
  border-inline: none;
}

.ant-menu#TopMenu .ant-menu-item.ant-menu-item-selected,
.ant-menuTopMenu .ant-menu-item.ant-menu-item-selected.ant-menu-item-active {
  background-color: #ffffff;
  color: #7cba27;
}

#TopMenu svg.ant-menu-item-icon {
  vertical-align: -0.5em;
}

.ant-row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.ant-col:first-child {
  padding-left: 0 !important;
}

.ant-col:last-child {
  padding-right: 0 !important;
}

.ant-form-item-explain-error,
.ant-form-item-explain.ant-form-item-explain-connected {
  font-size: 80%;
}

#SidebarMenu .ant-card-body {
  padding-top: 0;
  padding-bottom: 0;
}

.ant-statistic-title {
  font-weight: bold;
}

.ant-form-item {
  margin-bottom: 2rem;
}

.ant-form-item .ant-form-item-label label {
  font-size: 70%;
  font-weight: bold;
  text-transform: uppercase;
}

.ant-table .ant-table-thead .ant-table-cell {
  font-size: 80%;
  font-weight: bolder;
  text-transform: uppercase;
}

.ant-layout-sider#sidebar .ant-menu.ant-menu-sub.ant-menu-inline li.ant-menu-item.ant-menu-item {
  font-size: 12px;
}
